RewriteEngine on
RewriteRule intl/gateway/v2/app/search/type intl/gateway/v2/app/search/type/index.php
RewriteRule intl/gateway/v2/app/search/v2 intl/gateway/v2/app/search/v2/index.php
RewriteRule intl/gateway/v2/app/subtitle intl/gateway/v2/app/subtitle/index.php
RewriteRule intl/gateway/v2/ogv/playurl intl/gateway/v2/ogv/playurl/index.php
RewriteRule intl/gateway/v2/ogv/view/app/season intl/gateway/v2/ogv/view/app/season/index.php
RewriteRule intl/gateway/v2/ogv/view/app/season2 intl/gateway/v2/ogv/view/app/season2/index.php
RewriteRule intl/gateway/v2/ogv/view/app/episode intl/gateway/v2/ogv/view/app/episode/index.php
RewriteRule pgc/player/api/playurl pgc/player/api/playurl/index.php
RewriteRule pgc/player/web/playurl pgc/player/web/playurl/index.php
RewriteRule pgc/view/web/season pgc/view/web/season/index.php
RewriteRule x/intl/passport-login/oauth2/refresh_token x/intl/passport-login/oauth2/refresh_token/index.php
RewriteRule x/v2/search/type x/v2/search/type/index.php
RewriteRule x/web-interface/search/type x/web-interface/search/type/index.php
